#car1, #car2, #car3 {
    -webkit-filter: brightness(50%);
}

@media (max-width: 1165px) {
    .media {
        display: none;
    }
}

/*.map-responsive{*/
/*    overflow:hidden;*/
/*    padding-bottom:56.25%;*/
/*    position:relative;*/
/*    height:0;*/
/*}*/
/*.map-responsive iframe{*/
/*    left:0;*/
/*    top:0;*/
/*    height:100%;*/
/*    width:100%;*/
/*    position:absolute;*/
/*}*/

.MultiCarousel {
    float: left; overflow: hidden; padding: 15px; width: 100%; position:relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all; float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position:absolute; border-radius:50%;top:calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left:0;
}

.MultiCarousel .rightLst {
    right:0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

.font-family {
    font-family: 'Roboto', sans-serif;
}