#car1, #car2, #car3 {
    -webkit-filter: brightness(50%);
}

@media (max-width: 1165px) {
    .media {
        display: none;
    }
}

/*.map-responsive{*/
/*    overflow:hidden;*/
/*    padding-bottom:56.25%;*/
/*    position:relative;*/
/*    height:0;*/
/*}*/
/*.map-responsive iframe{*/
/*    left:0;*/
/*    top:0;*/
/*    height:100%;*/
/*    width:100%;*/
/*    position:absolute;*/
/*}*/

@keyframes infos {
    from {

    }
    to {

    }
}

.custom {
    animation-name: infos;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}