{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Menu | Pinocchio{% endblock %}
{% block content %}

{#        NAVBAR               #}
        <nav class="bg-red-800 border-b-8 border-red-800">
          <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
              <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
                  <!-- Icon when menu is closed. -->
                  <!-- Menu open: "hidden", Menu closed: "block" -->
                  <svg class="block h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                  </svg>
                  <!-- Icon when menu is open. -->
                  <!-- Menu open: "block", Menu closed: "hidden" -->
                  <svg class="hidden h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
                  </svg>
                </button>
              </div>
              <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="hidden sm:block sm:ml-6">
                  <div class="flex">
                       <a href="{% url 'index' %}" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-white hover:text-white hover:bg-red-700 focus:outline-none focus:text-white focus:bg-red-600 transition duration-150 ease-in-out font-bold">Home</a>
                    <a href="{% url 'menu' %}" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-white bg-gray-900 focus:outline-none focus:text-white focus:bg-gray-800 transition duration-150 ease-in-out font-bold">Menu</a>
                    <a href="#" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-white hover:text-white hover:bg-red-700 focus:outline-none focus:text-white focus:bg-red-600 transition duration-150 ease-in-out font-bold">My Orders</a>
                    <a href="{% url 'locate' %}" class="ml-4 px-3 py-2 rounded-md text-sm font-medium leading-5 text-white hover:text-white hover:bg-red-700 cus:outline-none focus:text-white focus:bg-red-600 transition duration-150 ease-in-out font-bold">Locate us</a>
                  </div>
                </div>
              </div>
                <img src="{% static 'orders/img/pizza.png' %}" alt="Logo" class="absolute mx-auto left-0 right-0 h-64 media" style="text-align: center">
              <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                  {% if user.is_authenticated %}
{#                       MAKE THE SVG ICON A LINK TO THE URL 'CART'                  #}
                      <a href="{% url 'cart' %}" class="mr-5 p-1 border-2 border-transparent text-gray-400 rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-red-700 transition duration-150 ease-in-out" aria-label="Notifications">
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"><path class="heroicon-ui" fill="#fff" d="M17 16a3 3 0 1 1-2.83 2H9.83a3 3 0 1 1-5.62-.1A3 3 0 0 1 5 12V4H3a1 1 0 1 1 0-2h3a1 1 0 0 1 1 1v1h14a1 1 0 0 1 .9 1.45l-4 8a1 1 0 0 1-.9.55H5a1 1 0 0 0 0 2h12zM7 12h9.38l3-6H7v6zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                         </svg>
                      </a>
                     <div class="relative inline-block text-left z-10">
                          <div>
                            <span class="rounded-md">
                              <button class="mr-2 dropbtn p-1 border-2 border-transparent text-white rounded-full hover:text-white focus:outline-none focus:text-white focus:bg-red-700 transition duration-150 ease-in-out" aria-label="Notifications">
                                    <svg fill="currentColor" viewBox="0 0 20 20" width="30" height="30"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path></svg>
                              </button>
                            </span>
                          </div>

                          <!--
                            Dropdown panel, show/hide based on dropdown state.

                            Entering: "transition ease-out duration-100"
                              From: "transform opacity-0 scale-95"
                              To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                              From: "transform opacity-100 scale-100"
                              To: "transform opacity-0 scale-95"
                          -->
                          <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg dropdown-content" id="myDropdown">
                            <div class="rounded-md bg-white shadow-xs">
                              <div class="py-1">
                                <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">Signed in as <span class="font-bold">{{ user.get_username }}</span></a>
                                <a href="https://github.com/egehurturk" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">Support</a>
                                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900">Sign Out</a>
                              </div>
                            </div>
                          </div>
                        </div>
                  {% else %}
                      <div class="inline-flex rounded-md border-none">
                            <a href="{% url 'login' %}" class="bg-red-600 rounded px-5 py-2 text-white font-bold h-10 mr-3 uppercase">
                                login
                             </a>
                      </div>
                      <div class="inline-flex rounded-md border-none">
                            <a href="{% url 'register' %}" class="bg-red-600 rounded px-5 py-2 text-white font-bold h-10 mr-3 uppercase">
                                signup
                             </a>
                      </div>
                  {% endif %}
              </div>
            </div>
          </div>

          <!--
            Mobile menu, toggle classes based on menu state.

            Menu open: "block", Menu closed: "hidden"
          -->

        </nav>

<!-- Be sure to use this with a layout container that is full-width on mobile -->

{#    MENU CARD     #}


<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl" id="subs">Subs</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for sub in subs %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ sub.name }}</p>
                        {% if sub.small_price == 0 %}
                            <div class="flex">
                                <input type="radio" id="subs-only={{ sub.id }}" name="sub">
                                <label for="subs-only-{{ sub.id }}">
                                    <p class="ml-1">Price: ${{ sub.large_price }}</p>
                                </label>
                            </div>
                        {% elif sub.small_price < 1 or sub.large_price < 1 %}
                            <div class="flex">
                                <input type="radio" id="subs-only-2-{{ sub.id }}" name="sub">
                                <label for="subs-only-2-{{sub.id }}">
                                    <p class="ml-1">Price: ${{ sub.large_price }}</p>
                                </label>
                            </div>
                        {% else %}
                            <div class="flex">
                                <input type="radio" id="subs-small-{{ sub.id }}" name="sub">
                                <label for="subs-small-{{ sub.id }}">
                                   <p class="ml-1">Small Price: ${{ sub.small_price }}</p>
                                </label>
                            </div>
                            <div class="flex">
                                <input type="radio" id="subs-large-{{ sub.id }}" name="sub">
                                <label for="subs-large-{{ sub.id }}">
                                    <p class="ml-1">Large Price: ${{ sub.large_price }}</p>
                                </label>
                            </div>
                        {% endif %}
                        <button @click="showModal = true" data-id="subs-{{ sub.id }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><</button>
            <button class="btn btn-primary rightLst">></button>
        </div>
	</div>
</div>

<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl">Regular Pizza</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for regular in regularpizza %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ regular.name }}</p>
                        {% if regular.small_price == 0 %}
                            <div class="flex">
                                <input type="radio" id="regular-only={{ regular.id }}" name="regular">
                                <label for="regular-only-{{ regular.id }}">
                                    <p class="ml-1">Price: ${{ regular.large_price }}</p>
                                </label>
                            </div>
                        {% else %}
                            <div class="flex">
                                <input type="radio" id="regular-small-{{ regular.id }}" name="regular">
                                <label for="regular-small-{{ regular.id }}">
                                   <p class="ml-1">Small Price: ${{ regular.small_price }}</p>
                                </label>
                            </div>
                            <div class="flex">
                                <input type="radio" id="regular-large-{{ regular.id }}" name="regular">
                                <label for="regular-large-{{ regular.id }}">
                                    <p class="ml-1">Large Price: ${{ regular.large_price }}</p>
                                </label>
                            </div>
                        {% endif %}
                        <button @click="showModal = true" data-id="regular-{{ regular.id }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
	</div>
</div>
<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl">Sicilian Pizza</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for sicilian in sicilianpizza %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ sicilian.name }}</p>
                        {% if sicilian.small_price == 0 %}
                           <div class="flex">
                                <input type="radio" id="sicilian-only={{ sicilian.id|add:"-5" }}" name="sicilian">
                                <label for="sicilian-only-{{ sicilian.id|add:"-5" }}">
                                    <p class="ml-1">Price: ${{ sicilian.large_price }}</p>
                                </label>
                            </div>
                        {% else %}
                            <div class="flex">
                                <input type="radio" id="sicilian-small-{{ sicilian.id|add:"-5" }}" name="sicilian">
                                <label for="sicilian-small-{{ sicilian.id|add:"-5" }}">
                                   <p class="ml-1">Small Price: ${{ sicilian.small_price }}</p>
                                </label>
                            </div>
                            <div class="flex">
                                <input type="radio" id="sicilian-large-{{ sicilian.id|add:"-5" }}" name="sicilian">
                                <label for="sicilian-large-{{ sicilian.id }}">
                                    <p class="ml-1">Large Price: ${{ sicilian.large_price }}</p>
                                </label>
                            </div>
                        {% endif %}
                        <button @click="showModal = true" data-id="sicilian-{{ sicilian.id|add:"-5" }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
	</div>
</div>
<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl">Dinner Platters</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for onedinner in dinner %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ onedinner.name }}</p>
                        {% if onedinner.small_price == 0 %}
                            <div class="flex">
                                <input type="radio" id="onedinner-only={{ onedinner.id|add:'-1' }}" name="onedinner">
                                <label for="onedinner-only-{{ onedinner.id|add:'-1' }}">
                                    <p class="ml-1">Price: ${{ onedinner.large_price }}</p>
                                </label>
                            </div>
                        {% else %}
                            <div class="flex">
                                <input type="radio" id="onedinner-small-{{ onedinner.id|add:'-1' }}" name="onedinner">
                                <label for="onedinner-small-{{ onedinner.id|add:'-1' }}">
                                   <p class="ml-1">Small Price: ${{ onedinner.small_price }}</p>
                                </label>
                            </div>
                            <div class="flex">
                                <input type="radio" id="onedinner-large-{{ onedinner.id|add:'-1' }}" name="onedinner">
                                <label for="onedinner-large-{{ onedinner.id|add:'-1' }}">
                                    <p class="ml-1">Large Price: ${{ onedinner.large_price }}</p>
                                </label>
                            </div>
                        {% endif %}
                        <button @click="showModal = true" data-id="onedinner-{{ onedinner.id|add:"-1" }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
	</div>
</div>
{#<div class="container">#}
{#	<div class="row">#}
{#        <h3 class="m-4 font-family font-bold text-5xl">Toppings</h3>#}
{#		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">#}
{#            <div class="MultiCarousel-inner">#}
{#                {% for topping in Toppings %}#}
{#                <div class="item">#}
{#                    <div class="pad15">#}
{#                        <p class="font-bold">{{ topping.name }}</p>#}
{#                    </div>#}
{#                </div>#}
{#               {% endfor %}#}
{#            </div>#}
{#            <button class="btn btn-primary leftLst"><</button>#}
{#            <button class="btn btn-primary rightLst">></button>#}
{#        </div>#}
{#	</div>#}
{#</div>#}
<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl">Pastas</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for onepasta in Pasta %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ onepasta.name }}</p>
                            <p>Price: ${{ onepasta.price }}</p>
                        <button @click="showModal = true" data-id="pasta-{{ onepasta.id }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
	</div>
</div>

<div class="container">
	<div class="row">
        <h3 class="m-4 font-family font-bold text-5xl">Salads</h3>
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner">
                {% for salad in salads %}
                <div class="item">
                    <div class="pad15">
                        <p class="font-bold">{{ salad.name }}</p>
                            <p>Price: ${{ salad.price }}</p>
                        <button @click="showModal = true" data-id="salad-{{ salad.id }}" class="orderButton rounded font-family bg-red-600 hover:bg-red-700 p-2 w-full mt-3 font-bold text-white">ORDER</button>
                    </div>
                </div>
               {% endfor %}
            </div>
        </div>
	</div>
</div>


    <div x-show="showModal" class="fixed bottom-0 inset-x-0 px-4 pb-6 sm:inset-0 sm:p-0 sm:flex sm:items-center sm:justify-center">
    <div
            x-transition:enter="ease-out duration-300"
            x-transition:enter-start="opacity-0"
            x-transition:enter-leave="opacity-100"
            x-transition:leave="ease-in duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            x-show="showModal"
            class="fixed inset-0 transition-opacity"
    >
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>

    <div
            x-transition:enter="ease-out duration-300"
            x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            x-transition:enter-leave="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave="ease-in duration-200"
            x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
            x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            class="bg-white rounded-lg absolute right-0 top-0 mt-16 mr-8 px-4 pt-5 pb-4 overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full sm:p-6" :class="{ 'show d-block': showModal }" x-show="showModal" role="dialog" aria-modal="true" aria-labelledby="modal-headline"
    >
    <div>
      <div class="mx-auto flex items-center justify-center h-12 w-12 rounded-full bg-green-100">
        <svg class="h-6 w-6 text-green-600" stroke="currentColor" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
        </svg>
      </div>
      <div class="mt-3 text-center sm:mt-5">
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
          Added to the cart
        </h3>
        <div class="mt-2">
          <p class="text-sm leading-5 text-gray-500">
            the product itself Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, nobis.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-5 sm:mt-6">
      <span class="flex w-full rounded-md shadow-sm">
        <button @click="showModal = false" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-gray-900 text-base leading-6 font-medium text-white shadow-sm hover:bg-gray-800 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
          Go back to menu
        </button>
      </span>
    </div>
  </div>

{% endblock %}