{% extends 'orders/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="min-h-screen bg-red-800 flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-red-100">
          Sign in to your account
        </h2>
      </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
        <div>
          <label for="username" class="block text-sm font-medium leading-5 text-gray-700">
            Username
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input id="username" name="username" type="text" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
          </div>
        </div>

        <div class="mt-6">
          <label for="password" class="block text-sm font-medium leading-5 text-gray-700">
            Password
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <input id="password" name="password" type="password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
          </div>
        </div>

        <div class="mt-6 flex items-center justify-end">

          <div class="text-sm leading-5">
            <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
              Forgot your password?
            </a>
          </div>
        </div>

        <div class="mt-6">
          <span class="block w-full rounded-md shadow-sm">
            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-red-700 hover:bg-red-600 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
              Sign in
            </button>
          </span>
             {% if messages %}
                {% for foo in messages %}
                    <div class="text-center py-4 lg:px-4">
                      <div class="p-2 bg-red-300 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                        <span class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs text-white font-bold mr-3">IMPORTANT</span>
                        <span class="font-semibold mr-2 text-left text-white flex-auto">{{ foo }}</span>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
      </form>

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm leading-5">
            <span class="px-2 bg-white text-gray-500">
              Or
            </span>
          </div>
        </div>
        <div>
            <p class="text-gray-600 flex justify-center mt-3">
                Don't have an accound yet? <a href="{% url 'register' %}" class="ml-2">Register Here.</a>
            </p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}